.nextflow*
work/*
output/*
*.swp

*.Rhistory

test-paired-end/work
test-paired-end/output
test-paired-end/.nextflow*

test-single-read/work
test-single-read/output
test-single-read/.nextflow*

analysis_files/*
mgs-results/