/************************************************
| CONFIGURATION FILE FOR NAO VIRAL MGS WORKFLOW |
************************************************/

/*************
| PARAMETERS |
*************/

workDir = "s3://nao-mgs-workflow-scratch/NAO-230926Esv/work"

params {
    // Reference directories
    raw_dir = "/fusion/s3/nao-mgs-workflow-scratch/NAO-230926Esv/raw-head" // Raw data directory
    script_dir = "scripts" // Directory containing built-in scripts
    env_dir = "env" // Directory containing conda environment specifications
    pub_dir = "s3://nao-mgs-workflow-scratch/NAO-230926Esv/output" // Directory for publishing intermediate and final results
    
    // Path to TSV specifying sample/library configuration
    library_tab = "libraries.csv"
    // TODO: Add another tab for metadata?
    
    // Reference sequence files
    adapters = "ref/adapters.fa" // Sequencing adaptors to remove during cleaning (in addition to auto-removal)
    ribo_ref = "ref/silva-rrna.fasta.gz" // Database of ribosomal sequences to screen for with BBDuk
    hv_genomes = "ref/hv_virus_combined_genomes.fasta.gz" // Combined human-viral genomes // TODO: Replace with URL or generate automatically

    // URLs for downloading reference genomes
    human_url = "https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/analysis_set/chm13v2.0.fa.gz"
    cow_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/263/795/GCF_002263795.1_ARS-UCD1.2/GCF_002263795.1_ARS-UCD1.2_genomic.fna.gz"
    pig_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/003/025/GCF_000003025.6_Sscrofa11.1/GCF_000003025.6_Sscrofa11.1_genomic.fna.gz"

    // Other reference files
    kraken_db = "ref/kraken-db" // Directory containing Kraken reference database
    virus_db = "ref/human-viruses.tsv" // TSV file containing a list of human-infecting virus names and taxids
    nodes = "ref/taxonomy/nodes.dmp" // File specifying taxid tree structure
    genomeid_map = "ref/genomeid-to-taxid.json" // File mapping human-viral NCBI genome ids to taxids (generated alongside hv_genomes) // TODO: Replace with URL or generate automatically
}

/********************
| AWS CONFIGURATION |
********************/

aws {
    client {
        maxConnections = 1000
        maxErrorRetry = 10
        connectionTimeout = 0
        socketTimeout = 0
    }
}

docker {
    enabled = true
}

fusion {
    enabled = true
    exportStorageCredentials = true
}

wave {
    enabled = true
}

/*************************
| PROCESS SPECIFICATIONS |
*************************/

process{
    errorStrategy = "finish" // When a process fails, finish other pending jobs before shutdown

    // Single-core processes
    withLabel: single {
        cpus = 1
        memory = 1.GB
    }

    // Small multi-core processes
    withLabel: small {
        cpus = 7
        memory = 15.GB 
    }

    // Large multi-core processes
    withLabel: large {
        cpus = 16
        memory = 31.GB
    }

    // Maximum-scope, one-at-a-time processes
    withLabel: max {
        cpus = 31
        memory = 61.GB
    }

    // Docker images
    withLabel: base {
        container = "amazonlinux:latest"
    }
    withLabel: MultiQC {
        container = "multiqc/multiqc:latest"
    }
    withLabel: FASTQC {
        container = "staphb/fastqc:latest"
    }
    withLabel: BBTools {
        container = "staphb/bbtools:latest"
    }
    withLabel: BLAST {
        container = "staphb/blast:latest"
    }
    withLabel: Bowtie2 {
        container = "staphb/bowtie2:latest"
    }
    withLabel: Kraken2 {
        container = "staphb/kraken2:latest"
    }
    withLabel: Bracken {
        container = "staphb/bracken:latest"
    }
    withLabel: pandas {
        container = "pandas/pandas:pip-all"
    }
    withLabel: biopython {
        container = "securebio/nao-pypkg"
    }
    withLabel: tidyverse {
        container = "rocker/tidyverse:latest"
    }
    withLabel: R {
        container = "securebio/nao-rpkg"
    }
}
