/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    mode = "downstream"

    // Directories
    base_dir = "./" // Parent for working and output directories (can be S3)

    // Files
    input_file = "${projectDir}/test-data/downstream/input_file.csv"
}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
