// Specify resources for processes based on labels
process {
    // Single-core processes
    withLabel: single {
        cpus = 1
        memory = 4.GB
    }

    // Small multi-core processes
    withLabel: small {
        cpus = 4
        memory = 8.GB
    }

    // Large multi-core processes
    withLabel: large {
        cpus = 4
        memory = 15.GB
    }

    // Very large multi-core processes
    withLabel: max {
        cpus = 4
        memory = 15.GB
    }
}