/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    mode = "downstream"

    // Directories
    base_dir = "./" // Parent for working and output directories (can be S3)
    ref_dir = "s3://nao-testing/index/20250407/output"

    // Files
    input_file = "${projectDir}/test-data/downstream/input_file.csv"

    // Other required parameters
    aln_dup_deviation = 1 // Difference in alignment coordinates tolerated when identifying alignment duplicates
    validation_cluster_identity = 0.95 // Minimum sequence identity for cluster formation during viral hit validation
    validation_n_clusters = 20 // Maximum clusters per species to validate during viral hit validation
    blast_db_prefix = "nt_others"
    blast_perc_id = 60 // Percent identity threshold for BLAST hits
    blast_qcov_hsp_perc = 30 // Query coverage threshold for BLAST hits
    blast_min_frac = 0.9 // Keep BLAST hits whose bitscore is at least this fraction of the best bitscore for that query
    blast_max_rank = 10 // Keep BLAST hits whose dense bitscore rank for that query is at most this value
}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
