/************************************************
| CONFIGURATION FILE FOR NAO BASECALL WORKFLOW |
************************************************/

params {
    mode = "basecall"
    debug = true

    // Directories
    pod_5_dir = "s3://nao-restricted/----/pod5/" // input dir

    base_dir = "s3://nao-mgs-simon/----/" // Dir for work and results

    batch_size = 1024**3 // 1GiB

    // Run parameters
    // TODO: Automate getting run name from base_dir
    nanopore_run = "----"

    // Nanopore kit (format: XXX-XXXXXX-XX)
    kit = "SQK-RPB114-24"

    // Default values for undefined run.nf parameters. Adding them here because they always get triggered
    r1_suffix = ""
    r2_suffix = ""
    quality_encoding = "auto"
    kraken_memory = "8G"
    bbduk_suffix = ""
    adapters = ""
}



includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"

process.queue = "slg-basecall-batch-queue"