// Specify Docker containers for workflow processes
process {
    withLabel: curl {
        container = "community.wave.seqera.io/library/curl:8.10.1--43150f2d543ef413"
    }
    withLabel: unzip {
        container = "community.wave.seqera.io/library/unzip:6.0--0e729f0c20458893"
    }
    withLabel: coreutils {
        container = "community.wave.seqera.io/library/coreutils:9.5--ae99c88a9b28c264"
    }
    withLabel: coreutils_gzip_gawk {
        container = "community.wave.seqera.io/library/coreutils_gawk_gzip:c49bfad0a858f99a"
    }
    withLabel: MultiQC {
        // NB: As of 2024-07-01, newer versions currently cause errors
//        container = "multiqc/multiqc:v1.21"
//        container = "staphb/multiqc:1.22.2"
        container = "thatdnaguy/multiqc:v1.21_01"
    }
    withLabel: FASTQC {
        container = "staphb/fastqc:0.12.1"
    }
    withLabel: BBTools {
        // NB: As of 2024-07-01, newer versions currently cause errors
        container = "staphb/bbtools:39.01"
    }
    withLabel: BLAST {
        container = "staphb/blast:2.15.0"
    }
    withLabel: BLAST2 {
        container = "community.wave.seqera.io/library/blast_curl:79a8563079c99587"
        // Built with Seqera Containers
        //channels:
        //- conda-forge
        //- bioconda
        //dependencies:
        //- bioconda::blast=2.15.0
        //- conda-forge::curl=8.7.1
    }
    withLabel: Bowtie2 {
        container = "staphb/bowtie2:2.5.3"
    }
    withLabel: Kraken2 {
        container = "securebio/nao-kraken2-awscli:latest"
    }
    withLabel: Bracken {
        container = "staphb/bracken:2.9"
    }
    withLabel: pandas {
        container = "community.wave.seqera.io/library/pandas:2.2.3--9b034ee33172d809"
        // channels:
        // - conda-forge
        // - bioconda
        // dependencies:
        // - conda-forge::pandas=2.2.3
    }
    withLabel: ncbi_genome_download {
          container = "community.wave.seqera.io/library/ncbi-genome-download:0.3.3--3034416f2eb9d25d"
    }
    withLabel: biopython {
          container = "community.wave.seqera.io/library/pip_biopython_pandas:efce8bf9af0b80e7"
    }
    withLabel: tidyverse {
        container = "rocker/tidyverse:4.4.2"
    }
    withLabel: R {
        container = "securebio/nao-rpkg"
    }
    withLabel: seqtk {
        container = "staphb/seqtk:1.4"
    }
    withLabel: cutadapt {
        container = "community.wave.seqera.io/library/cutadapt:5.0--991bbd2e184b7014"
        // channels:
        // - conda-forge
        // - bioconda
        // dependencies:
        // - bioconda::cutadapt=5.0
    }
    withLabel: fastp {
        container = "staphb/fastp:0.23.4"
    }
    withLabel: filtlong {
        container = "staphb/filtlong:0.2.1"
    }
    withLabel: bowtie2_samtools {
        //container = "community.wave.seqera.io/library/bowtie2_samtools:7b69067e1ec05e87"
        container = "community.wave.seqera.io/library/bowtie2_samtools_gzip:efa3d5fd38f6bcd0"
        //Built with Seqera Containers
        //channels:
        //- conda-forge
        //- bioconda
        //dependencies:
        //- bioconda::bowtie2=2.5.4
        //- bioconda::samtools=1.21
        //- conda-forge::gzip=1.13
    }
    withLabel: minimap2_samtools {
        container = "community.wave.seqera.io/library/minimap2_samtools:03e1e7cf6ec6695d"
        // Built with Seqera Containers
        //channels:
        //- conda-forge
        //- bioconda
        //dependencies:
        //- bioconda::minimap2=2.28
        //- bioconda::samtools=1.21
    }
    withLabel: bbtools_samtools {
        container = "community.wave.seqera.io/library/bbmap_samtools_gzip:fc8114c072e9de02"
        // Built with Seqera Containers
        // channels:
        // - conda-forge
        // - bioconda
        // dependencies:
        // - bioconda::bbmap=39.13
        // - bioconda::samtools=1.21
        // - conda-forge::gzip=1.13
    }
    withLabel: bracken_plus_utils {
        container = "community.wave.seqera.io/library/bracken_file_gzip:2ad1968722ae663d"
        // Built with Seqera Containers
        // channels:
        // - conda-forge
        // - bioconda
        // dependencies:
        // - bioconda::bracken=3.0
        // - conda-forge::file=5.46
        // - conda-forge::gzip=1.13
    }
    withLabel: python {
        container = "community.wave.seqera.io/library/python:3.13.1--d00663700fcc8bcf"
    }
    withLabel: coreutils_file {
        container = "community.wave.seqera.io/library/coreutils_file:ccfe471e6d036f54"
        // Built with Seqera Containers
        // channels:
        // - conda-forge
        // dependencies:
        // - conda-forge::coreutils=9.5
        // - conda-forge::file=5.46
    }
    withLabel: pysam_biopython {
        container = "community.wave.seqera.io/library/pip_biopython_pandas_pysam:37f1944206eeada3"
        // Built with Seqera Containers
        //channels:
        //- conda-forge
        //- bioconda
        //dependencies:
        //- pip
        //- pip:
        //  - biopython==1.85
        //  - pandas==2.2.3
        //  - pysam==0.23.0
    }
    withLabel: minimap2 {
        container = "staphb/minimap2:2.28"
    }
    withLabel: minimap2_samtools {
        container = "community.wave.seqera.io/library/minimap2_samtools:03e1e7cf6ec6695d"
        // Built with Seqera Containers
        // channels:
        // - conda-forge
        // - bioconda
        // dependencies:
        // - bioconda::minimap2=2.28
        // - bioconda::samtools=1.21
    }
    withLabel: tar_wget {
        container = "community.wave.seqera.io/library/coreutils_tar_wget:681db660492321e9"
        // Built with Seqera Containers
        // channels:
        // - conda-forge
        // dependencies:
        // - conda-forge::coreutils=9.5
        // - conda-forge::tar=1.34
        // - conda-forge::wget=1.21.4
    }
    withLabel: vsearch {
        container = "community.wave.seqera.io/library/vsearch_gzip:837743cf6c0913f7"
        // Built with Seqera Containers
        //channels:
        //- conda-forge
        //- bioconda
        //dependencies:
        //- bioconda::vsearch=2.30.0
        //- conda-forge::gzip=1.13
    }
    withLabel: seqkit {
        container = "community.wave.seqera.io/library/seqkit:2.10.0--03b4774218b4b7ef"
        // Built with Seqera Containers
        //channels:
        //- conda-forge
        //- bioconda
        //dependencies:
        //- bioconda::seqkit=2.10.0
    }
}
