// Specify Docker containers for workflow processes
process {
    withLabel: base {
        container = "eclipse/alpine_jdk8:latest"
        //container = "amazonlinux:latest"
    }
    withLabel: MultiQC {
        container = "multiqc/multiqc:v1.21"
    }
    withLabel: FASTQC {
        container = "staphb/fastqc:latest"
    }
    withLabel: BBTools {
        container = "staphb/bbtools:39.01"
    }
    withLabel: BLAST {
        container = "staphb/blast:latest"
    }
    withLabel: BLAST2 {
        container = "pipecraft/blast:2.14"
    }
    withLabel: Bowtie2 {
        container = "staphb/bowtie2:latest"
    }
    withLabel: Kraken2 {
        container = "staphb/kraken2:latest"
    }
    withLabel: Bracken {
        container = "staphb/bracken:latest"
    }
    withLabel: pandas {
        container = "pandas/pandas:pip-all"
    }
    withLabel: biopython {
        container = "securebio/nao-pypkg"
    }
    withLabel: tidyverse {
        container = "rocker/tidyverse:latest"
    }
    withLabel: R {
        container = "securebio/nao-rpkg"
    }
    withLabel: seqtk {
        container = "staphb/seqtk:latest"
    }
    withLabel: cutadapt {
        container = "pipecraft/cutadapt:0"
    }
    withLabel: trimmomatic {
        container = "staphb/trimmomatic:latest"
    }
    withLabel: fastp {
        container = "staphb/fastp:latest"
    }
}
