// Specify Docker containers for workflow processes
process {
    withLabel: curl {
        container = "community.wave.seqera.io/library/curl:8.10.1--43150f2d543ef413"
    }
    withLabel: unzip {
        container = "community.wave.seqera.io/library/unzip:6.0--0e729f0c20458893"
    }
    withLabel: coreutils {
        container = "community.wave.seqera.io/library/coreutils:9.5--ae99c88a9b28c264"
    }
    withLabel: coreutils_gzip_gawk {
        container = "community.wave.seqera.io/library/coreutils_gawk_gzip:c49bfad0a858f99a"
    }
    withLabel: MultiQC {
        // NB: As of 2024-07-01, newer versions currently cause errors
//        container = "multiqc/multiqc:v1.21"
//        container = "staphb/multiqc:1.22.2"
        container = "thatdnaguy/multiqc:v1.21_01"
    }
    withLabel: FASTQC {
        container = "staphb/fastqc:0.12.1"
    }
    withLabel: BBTools {
        // NB: As of 2024-07-01, newer versions currently cause errors
        container = "staphb/bbtools:39.01"
    }
    withLabel: BLAST {
        container = "staphb/blast:2.15.0"
    }
    withLabel: BLAST2 {
        container = "community.wave.seqera.io/library/blast_curl:79a8563079c99587"
        // Built with Seqera Containers
        //channels:
        //- conda-forge
        //- bioconda
        //dependencies:
        //- bioconda::blast=2.15.0
        //- conda-forge::curl=8.7.1
    }
    withLabel: Bowtie2 {
        container = "staphb/bowtie2:2.5.3"
    }
    withLabel: Kraken2 {
        container = "staphb/kraken2:2.1.3"
    }
    withLabel: Bracken {
        container = "staphb/bracken:2.9"
    }
    withLabel: pandas {
        container = "pandas/pandas:pip-all"
        // NB: As of 2024-07-01, no more specific tag available
    }
    withLabel: biopython {
        container = "securebio/nao-pypkg"
    }
    withLabel: tidyverse {
        container = "rocker/tidyverse:4.4.1"
    }
    withLabel: R {
        container = "securebio/nao-rpkg"
    }
    withLabel: seqtk {
        container = "staphb/seqtk:1.4"
    }
    withLabel: cutadapt {
        container = "pipecraft/cutadapt:0"
        // NB: Not sure if this functions as a "latest" tag, check back in later. As of 2024-07-01, this corresponds to digest 5aadc73cf824
    }
    withLabel: fastp {
        container = "staphb/fastp:0.23.4"
    }
}
