/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
/*********************************************
| CONFIGURATION FILE FOR DOWNSTREAM WORKFLOW |
*********************************************/

params {
    mode = "downstream"

    // Directories
    base_dir = "<PATH_TO_DIRECTORY>" // Parent for working and output directories (can be S3)

    // Files
    input_file = "${launchDir}/input.csv"

    // Other required parameters
    aln_dup_deviation = 1 // Difference in alignment coordinates tolerated when identifying alignment duplicates
}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
process.queue = <JOB_QUEUE_NAME> // AWS Batch job queue
