/***********************************************************************
| CONFIGURATION FILE FOR NAO VIRAL MGS WORKFLOW - REFERENCES & INDEXES |
***********************************************************************/

params {
    mode = "index"

    // Directories
    base_dir = "s3://nao-testing/index-test-tiny" // Parent for working and output directories (can be S3)

    // URLs for downloading reference genomes etc
    taxonomy_url = "https://nao-testing.s3.amazonaws.com/test-databases/tiny-taxonomy.zip"
    virus_host_db_url = "https://www.genome.jp/ftp/db/virushostdb/old/release235/virushostdb.tsv"

    // 21st chromosome, 1000nt subset
    human_url = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_000021.9&rettype=fasta&seq_start=10000000&seq_stop=10001000"

    // Look up genome assembly ncbi
    genome_urls = [
        phage: "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_000866.4&rettype=fasta&seq_start=1&seq_stop=1000"
    ]

    // Ribosomal reference (B. subtilis only)
    ssu_url = "https://www.ebi.ac.uk/ena/browser/api/fasta/AB065370.1"
    lsu_url = "https://www.ebi.ac.uk/ena/browser/api/fasta/AB065370.1"

    // Other reference files
    host_taxon_db = "${projectDir}/ref/host-taxa.tsv"
    // Empty overrides for the run-test index: the tiny virus DB built from
    // `download_virus_taxid` doesn't contain the production overrides' WNV taxid.
    host_infection_overrides = "${projectDir}/test-data/toy-data/virus-taxonomy/test-host-infection-overrides-empty.json"
    contaminants = "${projectDir}/test-data/toy-data/empty_file.txt"
    adapters = "${projectDir}/ref/adapters.fasta"
    genome_patterns_exclude =  "${projectDir}/ref/hv_patterns_exclude.txt"
    kraken_db = "https://nao-testing.s3.amazonaws.com/test-databases/tiny-kraken2-db.tar.gz" // Path to tarball containing tiny Kraken reference DB (5.8KB)
    blast_db_name = "https://nao-testing.s3.amazonaws.com/test-databases/tiny_blast_db.tar.gz" // Path to tarball containing tiny BLAST DB for testing
    assembly_source = "refseq"
    datasets_summary_extra_args = "--assembly-level complete"
    datasets_download_extra_args = ""
    viral_accession_chunk_size = 2 // HDV returns 2 assemblies (refseq + genbank); chunk_size=2 exercises multi-accession-per-chunk download.

    // K-mer index for the viral screen in RUN
    nucleaze_k = 24

    // Other input values
    virus_taxid = "10239"
    download_virus_taxid = "2847173" // Hepatitis D virus 1
    viral_taxids_exclude_hard = "2731619 2732413 2732411 10841 2169574 585893 38018 1266451 1629671" // Exclude Caudoviricetes, Malgrandaviricetes, Faserviricetes, Microviricetes, Smacoviridae, Picobirnaviridae, Bacteriophage sp., Mulberry vein banding virus (plant), Botrytis cinerea negative-stranded RNA virus 1 (fungal)
    host_taxa_screen = "vertebrate human" // Host taxa to screen for when building reference virus DB

    // Initializing run params to avoid warnings
    kraken_memory = ""
    classify_dedup_subset = ""

    // AWS Batch job queue
    queue = "BATCH_QUEUE_NAME"
}

process.queue = params.queue
includeConfig "${projectDir}/configs/logging.config"
includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
