/***********************************************************************
| CONFIGURATION FILE FOR NAO VIRAL MGS WORKFLOW - REFERENCES & INDEXES |
***********************************************************************/

params {
    mode = "index"

    // Directories
    base_dir = "s3://nao-mgs-wb/index-20240618" // Parent for working and output directories (can be S3)

    // URLs for downloading reference genomes etc
    taxonomy_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/taxdmp_2024-06-01.zip"
    virus_host_db_url = "https://www.genome.jp/ftp/db/virushostdb/virushostdb.tsv"
    human_url = "https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/analysis_set/chm13v2.0.fa.gz"
    cow_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/263/795/GCF_002263795.3_ARS-UCD2.0/GCF_002263795.3_ARS-UCD2.0_genomic.fna.gz"
    pig_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/003/025/GCF_000003025.6_Sscrofa11.1/GCF_000003025.6_Sscrofa11.1_genomic.fna.gz"
    carp_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/951/615/GCF_000951615.1_common_carp_genome/GCF_000951615.1_common_carp_genome_genomic.fna.gz"
    mouse_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/635/GCF_000001635.27_GRCm39/GCF_000001635.27_GRCm39_genomic.fna.gz"
    ecoli_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/030/389/925/GCF_030389925.1_ASM3038992v1/GCF_030389925.1_ASM3038992v1_genomic.fna.gz"
    ssu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_SSURef_NR99_tax_silva.fasta.gz"
    lsu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_LSURef_NR99_tax_silva.fasta.gz"

    // Other reference files
    contaminants = "${projectDir}/ref/contaminants.fasta.gz"
    hv_patterns_exclude =  "${projectDir}/ref/hv_patterns_exclude.txt"
    kraken_db = "s3://genome-idx/kraken/k2_standard_20240605.tar.gz" // Path to tarball containing Kraken reference DB
}

includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"
process.queue = "will-batch-queue" // AWS Batch job queue
