/***********************************************************************
| CONFIGURATION FILE FOR NAO VIRAL MGS WORKFLOW - REFERENCES & INDEXES |
***********************************************************************/

/*************
| PARAMETERS |
*************/

params {
    // Reference directories
    s3_dir = "s3://nao-mgs-workflow-scratch/ref"
    pub_dir = "${params.s3_dir}/output" // Publication directory

    // URLs for downloading reference genomes etc
    human_url = "https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/analysis_set/chm13v2.0.fa.gz"
    cow_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/263/795/GCF_002263795.3_ARS-UCD2.0/GCF_002263795.3_ARS-UCD2.0_genomic.fna.gz"
    pig_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/003/025/GCF_000003025.6_Sscrofa11.1/GCF_000003025.6_Sscrofa11.1_genomic.fna.gz"
    carp_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/951/615/GCF_000951615.1_common_carp_genome/GCF_000951615.1_common_carp_genome_genomic.fna.gz"
    mouse_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/635/GCF_000001635.27_GRCm39/GCF_000001635.27_GRCm39_genomic.fna.gz"
    ecoli_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/030/389/925/GCF_030389925.1_ASM3038992v1/GCF_030389925.1_ASM3038992v1_genomic.fna.gz"
    ssu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_SSURef_NR99_tax_silva.fasta.gz"
    lsu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_LSURef_NR99_tax_silva.fasta.gz"
    taxonomy_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/taxdmp_2022-12-01.zip"

    // Other reference files
    contaminants = "${projectDir}/../repo/ref/contaminants.fasta.gz" // FASTA file containing additional "contaminant" sequences to screen out during viral identification
    virus_db = "${projectDir}/../repo/ref/human-viruses.tsv" // TSV file containing a list of human-infecting virus names and taxids
    kraken_db = "s3://genome-idx/kraken/k2_standard_16gb_20221209.tar.gz" // Path to tarball containing Kraken reference DB

    // Paths to scripts
    script_dir = "${projectDir}/../repo/scripts/"
    script_viral_taxa = "${params.script_dir}/make-viral-taxa-db.R"
}

workDir = "${params.s3_dir}/work"

/********************
| AWS CONFIGURATION |
********************/

aws {
    client {
        maxConnections = 1000
        maxErrorRetry = 10
        connectionTimeout = 0
        socketTimeout = 0
    }
}

docker {
    enabled = true
}

fusion {
    enabled = true
    exportStorageCredentials = true
}

wave {
    enabled = true
}

/*************************
| PROCESS SPECIFICATIONS |
*************************/

process{
    errorStrategy = "finish" // When a process fails, finish other pending jobs before shutdown

    // Single-core processes
    withLabel: single {
        cpus = 1
        memory = 1.GB
    }

    // Small multi-core processes
    withLabel: small {
        cpus = 7
        memory = 15.GB 
    }

    // Large multi-core processes
    withLabel: large {
        cpus = 15
        memory = 31.GB
    }

    // Maximum-scope, one-at-a-time processes
    withLabel: max {
        cpus = 31
        memory = 61.GB
    }

    // Docker images
    withLabel: base {
        container = "eclipse/alpine_jdk8:latest"
    }
    withLabel: BBTools {
        container = "staphb/bbtools:latest"
    }
    withLabel: BLAST {
        container = "staphb/blast:latest"
    }
    withLabel: Bowtie2 {
        container = "staphb/bowtie2:latest"
    }
    withLabel: Python {
        container = "securebio/nao-pypkg"
    }
    withLabel: seqtk {
        container = "staphb/seqtk:latest"
    }
    withLabel: R {
        container = "securebio/nao-rpkg"
    }
}
