/***********************************************************************
| CONFIGURATION FILE FOR NAO VIRAL MGS WORKFLOW - REFERENCES & INDEXES |
***********************************************************************/

/*************
| PARAMETERS |
*************/

params {
    // Reference directories
    s3_dir = "s3://nao-mgs-workflow-scratch/ref"
    pub_dir = "${params.s3_dir}/output" // Publication directory

    // Reference sequence files
    adapters = "${projectDir}/ref/adapters.fa" // Sequencing adaptors to remove during cleaning (in addition to auto-removal)
    ribo_ref = "${projectDir}/ref/silva-rrna.fasta.gz" // Database of ribosomal sequences to screen for with BBDuk
    hv_genomes = "${projectDir}/ref/hv_virus_combined_genomes.fasta.gz" // Combined human-viral genomes // TODO: Replace with URL or generate automatically

    // URLs for downloading reference genomes etc
    human_url = "https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/analysis_set/chm13v2.0.fa.gz"
    cow_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/263/795/GCF_002263795.1_ARS-UCD1.2/GCF_002263795.1_ARS-UCD1.2_genomic.fna.gz"
    pig_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/003/025/GCF_000003025.6_Sscrofa11.1/GCF_000003025.6_Sscrofa11.1_genomic.fna.gz"
    ssu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_SSURef_NR99_tax_silva.fasta.gz"
    lsu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_LSURef_NR99_tax_silva.fasta.gz"
    taxonomy_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/taxdmp_2022-12-01.zip"

    // Other reference files
    kraken_db = "s3://genome-idx/kraken/k2_standard_16gb_20221209.tar.gz" // Path to tarball containing Kraken reference DB
    virus_db = "${projectDir}/ref/human-viruses.tsv" // TSV file containing a list of human-infecting virus names and taxids
    nodes = "${projectDir}/ref/taxonomy/nodes.dmp" // File specifying taxid tree structure
    genomeid_map = "${projectDir}/ref/genomeid-to-taxid.json" // File mapping human-viral NCBI genome ids to taxids (generated alongside hv_genomes) // TODO: Replace with URL or generate automatically
}

workDir = "${params.s3_dir}/work"

/********************
| AWS CONFIGURATION |
********************/

aws {
    client {
        maxConnections = 1000
        maxErrorRetry = 10
        connectionTimeout = 0
        socketTimeout = 0
    }
}

docker {
    enabled = true
}

fusion {
    enabled = true
    exportStorageCredentials = true
}

wave {
    enabled = true
}

/*************************
| PROCESS SPECIFICATIONS |
*************************/

process{
    errorStrategy = "finish" // When a process fails, finish other pending jobs before shutdown

    // Single-core processes
    withLabel: single {
        cpus = 1
        memory = 1.GB
    }

    // Small multi-core processes
    withLabel: small {
        cpus = 7
        memory = 15.GB 
    }

    // Large multi-core processes
    withLabel: large {
        cpus = 15
        memory = 31.GB
    }

    // Maximum-scope, one-at-a-time processes
    withLabel: max {
        cpus = 31
        memory = 61.GB
    }

    // Docker images
    withLabel: base {
        container = "amazonlinux:latest"
    }
    withLabel: MultiQC {
        container = "multiqc/multiqc:latest"
    }
    withLabel: FASTQC {
        container = "staphb/fastqc:latest"
    }
    withLabel: BBTools {
        container = "staphb/bbtools:latest"
    }
    withLabel: BLAST {
        container = "staphb/blast:latest"
    }
    withLabel: Bowtie2 {
        container = "staphb/bowtie2:latest"
    }
    withLabel: Kraken2 {
        container = "staphb/kraken2:latest"
    }
    withLabel: Bracken {
        container = "staphb/bracken:latest"
    }
    withLabel: pandas {
        container = "pandas/pandas:pip-all"
    }
    withLabel: biopython {
        container = "securebio/nao-pypkg"
    }
    withLabel: tidyverse {
        container = "rocker/tidyverse:latest"
    }
    withLabel: R {
        container = "securebio/nao-rpkg"
    }
}
