/***********************************************************************
| CONFIGURATION FILE FOR NAO VIRAL MGS WORKFLOW - REFERENCES & INDEXES |
***********************************************************************/

params {
    mode = "index"

    // Directories
    base_dir = "s3://nao-testing/index-test" // Parent for working and output directories (can be S3)

    // URLs for downloading reference genomes etc
    taxonomy_url = "https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/taxdmp_2024-06-01.zip"
    virus_host_db_url = "https://www.genome.jp/ftp/db/virushostdb/virushostdb.tsv"

    // 21st chromosome
    human_url = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_000021.9&rettype=fasta"

    // Look up genome assembly ncbi
    genome_urls = [
        cow_ch28: "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_037355.1&rettype=fasta",
        ecoli: "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=nucleotide&id=NC_002695.2&rettype=fasta"
    ]

    // Ribosomal reference
    ssu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_SSURef_NR99_tax_silva.fasta.gz"
    lsu_url = "https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_LSURef_NR99_tax_silva.fasta.gz"

    // Other reference files
    host_taxon_db = "${projectDir}/ref/host-taxa.tsv"
    contaminants = "${projectDir}/ref/contaminants.fasta.gz"
    adapters = "${projectDir}/ref/adapters.fasta"
    genome_patterns_exclude =  "${projectDir}/ref/hv_patterns_exclude.txt"
    kraken_db = "https://genome-idx.s3.amazonaws.com/kraken/k2_viral_20240904.tar.gz"
    blast_db_name = "nt_others"
    ncbi_viral_params = "--section refseq --assembly-level complete"

    // Other input values
    virus_taxid = "10239"
    viral_taxids_exclude_hard = "2731619 2732413 2732411" // Exclude Caudoviricetes, Malgrantaviricetes, Faserviricetes
    host_taxa_screen = "vertebrate human" // Host taxa to screen for when building reference virus DB

    // Initializing run params to avoid warnings
    kraken_memory = ""
    classify_dedup_subset = ""
}

includeConfig "${projectDir}/configs/logging.config"
includeConfig "${projectDir}/configs/containers.config"
includeConfig "${projectDir}/configs/resources.config"
includeConfig "${projectDir}/configs/profiles.config"
includeConfig "${projectDir}/configs/output.config"
process.queue = "will-batch-queue-a" // AWS Batch job queue
