// Currently universal settings
docker.enabled = true
wave.enabled = true
aws.client.maxConnections = 1000
aws.client.maxErrorRetry = 10
aws.client.connectionTimeout = 0
aws.client.socketTimeout = 0

// Workflow run profiles
profiles {
    standard { // Run on AWS Batch
        fusion.enabled = true
        fusion.exportStorageCredentials = true
        process.executor = "awsbatch"
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
    batch { // Run on AWS Batch
        fusion.enabled = true
        fusion.exportStorageCredentials = true
        process.executor = "awsbatch"
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
    ec2_local { // Run on EC2 instance with a local working directory
        fusion.enabled = false
        process.errorStrategy = "finish"
    }
    ec2_s3 { // Run on EC2 instance with an S3 working directory
        fusion.enabled = true
        fusion.exportStorageCredentials = true
        process.errorStrategy = "retry"
    }
}

// Set working directory
workDir = "${params.base_dir}/work"
